---
const { subtitle } = Astro.props;

console.log('subtitle', subtitle);
---

<h2
  class='text-center text-2xl font-semibold tracking-tight text-orange-400 md:text-5xl'
>
  <span
    class='bg-gradient-to-r from-orange-500 via-red-500 to-orange-600 bg-clip-text text-transparent drop-shadow-sm'
  >
    {subtitle}
  </span>
</h2>
