---
import HomePage from '@/components/home/HomePage.astro';
import MainLayout from '@/layouts/MainLayout.astro';

export const prerender = true;
---

<MainLayout title='Premiarte'>
  <HomePage />
  <div class='container mx-auto h-screen'>
    <h1 class='text-4xl font-bold'>Bienvenido a la página de inicio</h1>
  </div>
</MainLayout>
