---
import { Image } from 'astro:assets';

const { category } = Astro.props;
---

<a
  href={`/categoria/${category.slug}/1`}
  class='img-appear group relative w-64 overflow-hidden rounded-sm bg-background shadow-md transition-all hover:shadow-lg'
>
  <div class='relative aspect-square overflow-hidden rounded-sm'>
    <Image
      src={category.image?.url || '/placeholder.svg'}
      alt={category.image?.alt || category.name}
      width={256}
      height={256}
      class='object-cover transition-transform group-hover:scale-105'
    />
    <div class='absolute inset-0 bg-gradient-to-t from-black/60 to-transparent'>
    </div>
    <div class='absolute bottom-0 w-full p-4'>
      <h3 class='text-lg font-semibold text-white'>{category.name}</h3>
    </div>
  </div>
</a>
