---
import { Database } from '@/lib/db';
import Subtitle from '@/components/shared/Subtitle.astro';
import ProductsCard from '@/components/home/ProductsCard.astro';
import SecondaryButton from '@/components/shared/SecondaryButton';

const { featuredProducts } = Astro.props;

const products = await Database.getAllProducts({ featured: true });
---

<section class='section-container'>
  <Subtitle subtitle='¿Cómo solicitar tu presupuesto?' />

  <div class='flex flex-wrap justify-center gap-8 pt-24'>
    <div class='max-w-[350px]'>
      <p class='text-3xl'>1️⃣</p>
      <p class='font-semibold mt-2 text-orange-300 text-xl'>
        Elegí tus productos:
      </p>
      <p class='text-muted-foreground mt-2 text-lg'>
        Explorá nuestros trofeos, medallas y reconocimientos personalizados
      </p>
    </div>
    <div class='max-w-[350px]'>
      <p class='text-3xl'>2️⃣</p>
      <p class='font-semibold mt-2 text-orange-300 text-xl'>
        Agregalos al carrito:
      </p>
      <p class='text-muted-foreground mt-2 text-lg'>
        Usá el carrito como una lista de pedido. No es compromiso de compra
      </p>
    </div>
    <div class='max-w-[350px]'>
      <p class='text-3xl'>3️⃣</p>
      <p class='font-semibold mt-2 text-orange-300 text-xl'>
        Enviá tu solicitud:
      </p>
      <p>
        <p class='text-muted-foreground mt-2 text-lg'>
          Completá tus datos y recibí un presupuesto personalizado en poco
          tiempo
        </p>
      </p>
    </div>
  </div>
</section>

<section class='section-container'>
  <div class='flex flex-col items-center gap-12 lg:gap-12'>
    <div class='text-center w-full'>
      <Subtitle subtitle={featuredProducts.title} />
      {
        featuredProducts.text && (
          <p class='my-8 text-center text-xl font-normal tracking-tight text-muted-foreground md:text-xl'>
            {featuredProducts.text || 'Productos destacados'}
          </p>
        )
      }

      <div class='flex flex-wrap justify-center gap-8 pt-16'>
        {
          products.map((product) => (
            <div class='img-appear group border border-orange-50/10 rounded-sm relative w-64 shadow-xl transition-all duration-300 hover:drop-shadow-3xl hover:shadow-orange-200/10'>
              <ProductsCard product={product} />
            </div>
          ))
        }
      </div>

      <p
        class='my-16 mb-12 text-center text-xl font-normal tracking-tight text-muted-foreground md:text-xl'
      >
        Agregá este producto al carrito para pedir tu presupuesto. Seleccioná
        los productos que te interesen y solicitá tu cotización
      </p>

      <div class='text-center'>
        <SecondaryButton
          label={featuredProducts.buttonText || 'Ver Productos'}
          href={featuredProducts.buttonLink || '/categoria/productos'}
          className='px-8 py-6 text-lg font-semibold text-white min-w-40'
        />
      </div>
    </div>
  </div>
</section>
