---
import { Badge } from '@/components/ui/badge';
import Image from 'astro/components/Image.astro';
import { SearchIcon } from 'lucide-react';

// fetch products
const { product } = Astro.props;
---

<a
  href={`/productos/${product.slug}`}
  class='shadow-xl transition-all duration-300 hover:drop-shadow-3xl hover:shadow-orange-200/10'
>
  <div
    class='aspect-square overflow-hidden rounded-t-sm bg-background hover:cursor-pointer relative border border-orange-50/10'
  >
    <Image
      src={product.images[0]?.url || '/placeholder.svg'}
      alt={product.images[0]?.alt || 'Product image'}
      width={288}
      height={288}
      class='h-full w-full object-cover transition-transform duration-500 group-hover:scale-105 img-appear'
      style={{
        // viewTransitionName: transitionNames.image,
      }}
    />
  </div>

  <div class='mt-4 space-y-1 text-center px-2 mb-4'>
    <div class='pill mx-auto'>
      {product.categories[0].name}
    </div>
    <h3
      class='font-medium'
      style={{
        // viewTransitionName: transitionNames.title
      }}
    >
      {product.name}
    </h3>
    <div class='flex justify-center gap-2'></div>
  </div>
</a>
