---
import type { Service } from '@/components/home/HomePage.astro';
import Subtitle from '@/components/shared/Subtitle.astro';
import { Card, CardContent } from '@/components/ui/card';

export interface ServicesProps {
  title?: string;
  subtitle?: string;
  services: Service[];
}

const { title, subtitle, services } = Astro.props;
---

<section class='py-20'>
  <div class='container px-4 md:px-6'>
    <Subtitle subtitle={title || 'Nuestros Servicios'} />
    {
      subtitle && (
        <p class='my-8 text-center text-xl font-normal tracking-tight text-orange-100 md:text-xl'>
          {subtitle || 'Servicios destacados'}
        </p>
      )
    }
    <div class='flex flex-wrap justify-center gap-6 pt-8'>
      {
        services.map((serv: Service) => (
          <Card className='max-w-64 bg-gradient-to-br from-violet-800 to-purple-900 shadow-lg shadow-purple-900/30'>
            <CardContent className='flex flex-col items-center px-2 !py-0 text-center'>
              <img
                src={serv.imageDet.url}
                alt={serv.imageDet.alt || serv.title}
                width={100}
                height={100}
                class='mb-4 h-10 w-10 brightness-0 invert filter'
              />
              <h3 class='mb-2 text-lg font-semibold'>{serv.title}</h3>
              <div class='text-muted-foreground md:text-sm'>
                <p>{serv.description}</p>
              </div>
            </CardContent>
          </Card>
        ))
      }
    </div>
  </div>
</section>
