---
import { ContactForm } from '@/components/contact/ContactForm';
---

<div class='container px-4 py-8 md:px-6 md:py-12'>
  <div class='mb-8'>
    <h1 class='font-montserrat mb-2 text-3xl font-semibold'>Contáctanos</h1>
  </div>
  <ContactForm client:idle />
</div>
